<!DOCTYPE html>

<head>
    {{>head}}
</head>


<body>

    <div class="main-content">
        {{>header}}
        <img class="portait" src="/images/test.png">

    </div>

    {{>footer}}
</body>

</html>